build/
Temp/
Library/
clips/
Warp_UnityProject/Assets/behaviours/*.dll
Warp_UnityProject/Assets/behaviours/*.pdb
Warp_UnityProject/Assets/behaviours/*.meta
Warp_UnityProject/Assets/Editor/*.dll
Warp_UnityProject/Assets/Editor/*.pdb
Warp_UnityProject/Assets/Editor/*.meta
src/PlanetRider/.vs
**/obj/
**/bin/

.DS_Store
._.DS_Store
*.DotSettings.user
._*.txt
*.ide
.idea/
builds/
